@using Connect_Collect.Models.Entities
@model IEnumerable<Connect_Collect.Models.Entities.Cart>

    @{
    Layout = "~/Views/Shared/LayoutCustomer.cshtml"; // Set global layout
}
@* @model IEnumerable<Cart> *@

<h2>Your Requests</h2>

@if (!Model.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SellerName</th>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Seller.SellerName</td>
                    <td>@item.Product.ProductName</td> <!-- Accessing Product Name -->
                    <td>@item.Product.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
