@model Connect_Collect.Models.Entities.Product

@{
    Layout = "~/Views/Shared/LayoutSeller.cshtml"; // Set global layout
    ViewData["Title"] = "Upload New Product";
}
<link rel="stylesheet" href="~/css/CommonStyle.css" />

<div class="container mt-5">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <form asp-action="AddProduct" method="post" enctype="multipart/form-data">  
        <div class="form-group">
            <label asp-for="ProductName" class="control-label">Product Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            @* <label asp-for="SellerId" class="control-label">Seller</label> *@
            @* <select asp-for="SellerId" class="form-control" asp-items="ViewBag.SellerList"></select> *@
            <input type="hidden" name="SellerId" value="@ViewBag.SellerId" />

            <span asp-validation-for="SellerId" class="text-danger"></span>
        </div>


        <div class="form-group mt-3">
            <label asp-for="ProductDescription" class="control-label">Product Description</label>
            <textarea asp-for="ProductDescription" class="form-control" rows="5"></textarea>
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Price" class="control-label">Price</label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="ImageFile" class="control-label">Product Image</label>
            <input asp-for="ImageFile" type="file" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
