@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/CommonStyle.css" />
<div class="text-center">
    <h1 class="display-4">Welcome to EG</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
