@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Connect_Collect.Models.AddCustomerViewModel 

<link rel="stylesheet" href="~/css/CommonStyle.css"/>

<h1> Customer Signup </h1>

<a asp-controller="Seller" asp-action="AddSeller" class="seller-signup">
    <button type="button">Are you a seller? Click here to sign up</button>
</a>

<form method="post" id="customerSignup">
    <div class="mt-3">
        <label class="form-label"> CustomerName</label>
        <input type="text" class="form-control" asp-for="CustomerName"/>
    </div>
@*     <div class="mt-3">
        <label class="form-label"> CustomerId</label>
        <input type="text" class="form-control" asp-for="CustomerId" />
    </div> *@
    <div class="mt-3">
        <label class="form-label"> Email</label>
        <input type="text" class="form-control" asp-for="Email"/>   
    </div>
    <div class="mt-3">
        <label class="form-label"> Password</label>
        <input type="password" id="password" class="form-control" asp-for="Password"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Re-enter Password</label>
        <input type="password" class="form-control" id="repassword" required />
        <div id="passwordError" class="text-danger" style="display:none;">Passwords do not match!</div>
    </div>
    <div class="mt-3">
        <label class="form-label"> Address </label>
        <input type="text" class="form-control" asp-for="Address"/>
    </div>
    <div class="mt-3">
        <label class="form-label"> Contact Number </label>
        <input type="text" class="form-control" asp-for="Contact" />
    </div> 
    <div class="mt-3">
        <input type="checkbox" class="form-check-input" id="terms" required />
        <label class="form-check-label" for="terms">I agree to the Terms and Conditions</label>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary" style="padding: 4px 8px; font-size: 14px;">SAVE</button>
    </div>

</form>

<script>
    const form = document.getElementById('customerSignup');
    const passwordInput = document.getElementById('password');
    const repasswordInput = document.getElementById('repassword');
    const passwordError = document.getElementById('passwordError');

    form.addEventListener('submit', function (event) {
        if (passwordInput.value !== repasswordInput.value) {
            event.preventDefault(); // Prevent form submission
            passwordError.style.display = 'block'; // Show error message
        } else {
            passwordError.style.display = 'none'; // Hide error message
        }
    });
</script>